.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #80c8ee;
  padding: 10px;
  margin: 5%;
}

#caesar {
  width: 1500px;
  grid-template-columns: 50% 50%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.encryptedbox{
  padding:5px;
  margin:2%;
  align-self: center;
  outline: #C2AFA8 solid 5px;
  outline-offset: 5px;
  height:450px;
}