.line{
  border-bottom: 2px solid #ccc;
  display:block;
}
.flex-box{
  margin-left: 10%;
  margin-right:10%;
  padding: 2%;
  display: flex;
  background-color: #FFFFFf;
  gap: 20px 20px
}
.progress{
  flex: 1;
  background-color: #ece8e5;
  padding: 1%;
}
.progressText{
  font-family: Serif;
  font-size: 20px;
  position:relative;
  left:-60px;
}
.progressText{
  font-size: 20px;
  position:relative;
  left:0px;
}
.savedEncryptions{
  flex: 1;
  background-color: #ece8e5;
  padding: 1%;
}

.progress+savedEncryptions{
 margin-left: 10px;
}
.module{
  min-height: 150px;
  min-width: 450px;
}

.moduleHeader{
  color: black;
  text-align: left;
  font-size: 20px;
  margin-left: 30px;
}
.moduleContent{
  font-size: 20px;
  margin-left: 30px;
  text-align: left;
}

#user:hover{
  color: #ffffff;
  background-color: #c2afa8;
}
